
.text-box{
    margin-top: 5%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.text-box h1{
    font-size: 75px;
    line-height: 160px;

}

.text-box a{
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    color: #fff724;
    padding: 10px 30px;
    text-decoration: none;
}

.text-box .btn{
    background: #fff724;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}

.text-box .contact:hover{
    background: #fff724;
    color: #000;
}

.text-box .btn:hover{
    background:#000;
    color: #fff724;
    margin-left: 30px;
    font-weight: 600;
}

.mario_img{
    width: 320px;
    position: absolute;
    right: 15%;
    bottom: 0;
}

