.prerequiste img{
    position: absolute;
    width: 727px;
    left: 0;
    top: 45%;
}

.prerequiste h1{
    position: absolute;
    font-size: 40px;
    left: 60%;
    top: 35%;
    color: #FFF724;
}

.prerequiste .T{
    top: 63%;
}
.prerequiste .list{
    position: absolute;
    left: 62%;
    top: 45%;
}

.prerequiste .list li{
    margin: 5px;

}

.prerequiste .listT{
    position: absolute;
    left: 62%;
    top: 69%;   
}

.prerequiste .listT li{
    margin: 5px;

}
